{% extends "base.html" %}

{% block title %}Topics{% endblock %}

{% block content %}
<main class="p-6">
    <h2 class="text-xl text-gray-200 font-semibold mb-6">Topics disponibles</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        {% for topic in topics %}
        <div class="max-w-sm w-full bg-white dark:bg-[#34495e] rounded-lg shadow-lg overflow-hidden hover:scale-105 transform transition-all duration-300">
            <div class="p-6">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{{ topic.name }}</h3>
                <p class="mt-2 text-gray-600 dark:text-gray-400">{{ topic.description|truncatewords:20 }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
